In [212]:
import seaborn
dataset = seaborn.load_dataset('tips')

In [213]:
dataset.shape
dataset.head(7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2

In [214]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [215]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
dataset['time'] = encoder.fit_transform(dataset['time'])
dataset.head(3)

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3

In [216]:
x = dataset.drop(labels=['time'],axis=1)

In [217]:
x.head(4)

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2

In [218]:
y=dataset['time']
y

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: time, Length: 244, dtype: int32

In [219]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [220]:
X_train.head(4)

     total_bill   tip   sex smoker  day  size
228       13.28  2.72  Male     No  Sat     2
208       24.27  2.03  Male    Yes  Sat     2
96        27.28  4.00  Male    Yes  Fri     2
167       31.71  4.50  Male     No  Sun     4

In [230]:
from sklearn.impute import SimpleImputer  # Handling missing values
from sklearn.preprocessing import StandardScaler # standardize the data
from sklearn.preprocessing import OneHotEncoder # Handling categorical values
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [237]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    int32
 6   size        244 non-null    int64
dtypes: category(3), float64(2), int32(1), int64(1)
memory usage: 8.0 KB

In [243]:
category_column = ['sex','smoker','day'] 
numeric_column = ['total_bill','tip','size']

In [248]:
dataset[category_column]

        sex smoker   day
0    Female     No   Sun
1      Male     No   Sun
2      Male     No   Sun
3      Male     No   Sun
4    Female     No   Sun
..      ...    ...   ...
239    Male     No   Sat
240  Female    Yes   Sat
241    Male    Yes   Sat
242    Male     No   Sat
243  Female     No  Thur

[244 rows x 3 columns]

In [252]:
numeric_pipeline = Pipeline(
steps = [    
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())
    ]
)

cat_pipeline = Pipeline(
steps = [    
    ('imputer',SimpleImputer(strategy='most_frequent')), # handling missing values
    ('oneHotencoder',OneHotEncoder()) ## categorical feature to numeric
    ]
)

In [255]:
preprocessor=ColumnTransformer(
    [
       ('num_pipeline',numeric_pipeline,numeric_column),
       ('cat_pipeline',cat_pipeline,category_column)
    ])

In [257]:
X_train  = preprocessor.fit_transform(X_train)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [258]:
X_train

array([[-0.79306155, -0.2580329 , -0.61214068, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.46322744, -0.74211442, -0.61214068, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.80730659,  0.6399734 , -0.61214068, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-1.65383098, -1.46472887, -0.61214068, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.64749986,  0.32426806, -0.61214068, ...,  0.        ,
         1.        ,  0.        ],
       [ 2.75289699, -0.41237773,  0.45363997, ...,  1.        ,
         0.        ,  0.        ]])

In [260]:
X_test = preprocessor.transform(X_test)

AttributeError: 'ColumnTransformer' object has no attribute 'transformers_'

In [261]:
X_test

array([[-0.04546101,  0.06468811, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-1.30860871, -0.76316144, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.4952348 , -0.76316144,  1.51942062,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.64841289,  1.45379161,  1.51942062,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.82506891, -0.76316144, -0.61214068,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.26608319, -0.76316144, -0.61214068,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.93990852, -0.37028369, -0.61214068,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.88451116, -0.39834638, -0.61214068,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.62159354,  0.09976649, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.55300633, -0.06159402, -0.61214068,  1.        ,  0.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-0.22035838, -0.06159402, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.0799847 , -1.13499218, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-1.09370214, -1.11394516, -0.61214068,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.65588714, -0.76316144, -0.61214068,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.1600031 , -0.88242791, -1.67792133,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.18034918, -1.21216459,  0.45363997,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.17234734,  0.6399734 ,  0.45363997,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 0.15572813,  0.58384801, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.43069248, -0.43342476, -0.61214068,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 2.39738664,  1.34154082,  2.58520127,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 0.05399044, -0.4474561 ,  1.51942062,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.04941796,  0.18395458,  0.45363997,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.67532018,  0.6399734 , -0.61214068,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-1.21944535, -1.14902353, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.07799596,  0.28918969,  0.45363997,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.97481765, -0.54567554, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-1.1371407 , -0.966616  , -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.57868257,  1.34154082, -0.61214068,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.42612   , -0.76316144,  1.51942062,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 3.19528447,  1.34154082,  3.65098192,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 2.04073317,  0.6399734 ,  0.45363997,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.42635008, -1.1560392 , -0.61214068,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.27522815, -0.52462852,  1.51942062,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.00826564,  0.08573514, -0.61214068,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.37125023,  0.28918969,  0.45363997,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 0.44150815, -0.11771942,  1.51942062,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.93595156, -1.11394516, -0.61214068,  0.        ,  1.        ,
         0.        ,  1.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [ 2.6168657 ,  1.34154082,  1.51942062,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-0.80677899, -0.23698588, -0.61214068,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 0.28032822, -0.76316144, -0.61214068,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-1.10970582, -1.28933701, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.65131466, -0.76316144, -0.61214068,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 0.42664759, -0.37729936, -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.13028198, -0.99467869,  0.45363997,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-1.12913886, -0.76316144, -0.61214068,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [-1.96018717, -1.46472887, -1.67792133,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-1.10056086, -1.03677274, -0.61214068,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-0.17463358, -0.54567554,  0.45363997,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [-1.44692625, -1.1560392 , -0.61214068,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ]])

In [267]:

from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [271]:
models = {
    'Random Forest':RandomForestClassifier(),
    'Decision Tree':DecisionTreeClassifier(),  
    'SVC':SVC()   
    
}

In [1]:
list(models.keys())

NameError: name 'models' is not defined

In [ ]:
def evaluate_model(X_train,X_test,y_train,y_test,models):
    report={}
    for i in range(len(models)):
        model=list(models.values())[i]
        model.fit(X_train,y_train)
        
        y_pred=model.predict(X_test)
        acc_score = accuracy_score(y_test,y_pred)
        acc_score = round(acc_score*100,2)
        report[list(models.keys())[i]]=acc_score
    return report

In [ ]:
evaluate_model(X_train,X_test,y_train,y_test,models)

{'Random Forest': 95.92, 'Decision Tree': 93.88, 'SVC': 95.92}

In [ ]:
classifier = RandomForestClassifier()

In [ ]:
params = {
               'n_estimators': [100,300,600],
               'max_depth': [3,5,8,12],
               'criterion': ["gini","entrophy"],
               'max_features': ["sqrt","log2"],
               }

In [ ]:

from sklearn.model_selection import GridSearchCV
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
hp_model  = GridSearchCV(classifier, param_grid = params, 
                          cv = 5, n_jobs = -1, verbose = 2)